body {
    font-family: "Lato", sans-serif;
    
  }

  .bloc-home{
    width: 900px;
    min-width: 700px;
    margin: auto;
    
  }
  
  .mynav {
    width: 900px;
    min-width: 700px;
    height: 80px;
    margin: auto;
  }
  
  .masthead {
    width: 100%;
    max-width: 900px;
    height: 400px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 80px auto;
    background-image: url(../image/frontgames.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .navlink {
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }

  .login-bloc {
    height: 100%;
    margin-top: 100px;
  }

  .login-bloc {
    height: 100%;
    margin-top: 200px;
  }
  
  .login {
    width: 100%;
    max-width: 500px;
    padding: 25px;
    margin: auto;
    background-color: whitesmoke;
  }