body {
    font-family: "Lato", sans-serif;
  }
  
  
  .masthead {
    width: 100%;
    height: calc(100vh - 100px);
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    background: url(../images/manette.jpg);
    background-size: cover;
    background-position-y: top;
  }