body {
    font-family: "Lato", sans-serif;
    background-color: cadetblue;
  }
  
  .mynav {
    max-width:900px;
    margin: auto;
  }
  
  .masthead {
    width: 100%;
    min-width: 980px;
    height: calc(100vh - 100px);
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    background: url(../image/manette.jpg);
    background-size: cover;
    background-position-y: top;
    margin: 100px auto;
  }

  .navlink {
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }